.meal {
    border: 2px solid rgb(71, 215, 255);
    border-radius: 10px;
    background-color: cadetblue;
    padding: 20px;
    color: #000;
}

.meal img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.single-meal {
    text-align: start;
}

.single-meal button {
    background-color: #fff;
    color: darkgreen;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

@media screen and (max-width:576px) {
    .meal img {
        height: 100px;
        width: 200px;
        object-fit: cover;
    }

}